@model StudentTrackingSystem3.Models.G_Activity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>G_Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Performance.CategoryInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Performance.CategoryInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivitySummaryFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivitySummaryFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivitySummaryFileType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivitySummaryFileType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivitySummaryDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivitySummaryDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
