@model StudentTrackingSystem3.Models.G_Activity

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Activity", new {id = Model.ID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
        <h4>G_Activity</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group" style="display: none;">
            @Html.LabelFor(model => model.StudentID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentID, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.StudentID } })
                @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
            </div>
        </div>

        @if(Model.Student.Files.Any(f=>f.FileType == G_FileType.ActivitySummaryFile))
        {
            <div class="form-group">
                <span class="control-label col-md-2"><strong>Current File</strong></span>
                <div class="col-md-10">
                    <a href="~/File?id=@Model.Student.Files.First(f=>f.FileType == G_FileType.ActivitySummaryFile).G_FileId">@Model.Student.Files.First(f=>f.FileType == G_FileType.ActivitySummaryFile).FileName</a>
                </div>           
             </div>
        }

        <div class="form-group">
            @Html.Label("Document", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Document" name="upload" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActivitySummaryDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ActivitySummaryDesc, htmlAttributes: new { @class = "form-control", @style = "min-height: 10em;" })
                @Html.ValidationMessageFor(model => model.ActivitySummaryDesc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default createOrEditPost2" />
            </div>
        </div>
    </div>
    
}

<div>
    @Html.ActionLink("Back to List", "Index", "Performance", new { id = ViewBag.StudentID } , null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}