@model IEnumerable<StudentTrackingSystem3.Models.G_Activity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Performance.CategoryInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivitySummaryFileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivitySummaryFileType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivitySummaryDesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Performance.CategoryInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivitySummaryFileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivitySummaryFileType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivitySummaryDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
