@model StudentTrackingSystem.Models.Graduate_Student

@{
    ViewBag.Title = "Delete Graduate Student";
}

<h2>Graduate Student Background</h2>
<br />
<h3>Deleting Graduate Student</h3>
<div>
    <h4>Are you sure you want to delete <strong>@Html.ValueFor(model => model.FirstName) @Html.ValueFor(model => model.LastName)</strong>?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Graduate_CommonFields2.Name)*@
            @Html.DisplayNameFor(model => model.GenderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduate_CommonFields2.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Graduate_PrevDegree.Title)*@
            @Html.DisplayNameFor(model => model.DegreeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduate_PrevDegree.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaceEthnicityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaceEthnicityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaceOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaceOther)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Graduate_CommonFields1.Name)*@
            @Html.DisplayNameFor(model => model.DegreeProgramId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduate_CommonFields1.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Graduate_CommonFields.Name)*@
            @Html.DisplayNameFor(model => model.ConcentrationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduate_CommonFields.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Graduate_CommonFields3.Name)*@
            @Html.DisplayNameFor(model => model.TrackId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduate_CommonFields3.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegreeStart)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.DegreeStart)*@
            @Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.DegreeStart))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegreeEnd)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.DegreeEnd)*@
            @Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.DegreeEnd))
        </dd>     

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
