@model StudentTrackingSystem.Models.Graduate_Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Graduate_Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaceEthnicityBitSum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaceEthnicityBitSum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaceOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaceOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegreeStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DegreeStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegreeEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DegreeEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Graduate_CommonFields.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduate_CommonFields.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Graduate_CommonFields1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduate_CommonFields1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Graduate_CommonFields2.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduate_CommonFields2.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Graduate_CommonFields3.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduate_CommonFields3.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Graduate_PrevDegree.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduate_PrevDegree.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
