@model IEnumerable<StudentTrackingSystem.Models.Graduate_Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DegreeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaceEthnicityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaceOther)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DegreeProgramId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConcentrationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrackId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DegreeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DegreeEnd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DegreeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceEthnicityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceOther)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DegreeProgramId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConcentrationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrackId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DegreeStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DegreeEnd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
