@model StudentTrackingSystem3.Models.CurriculumVitae

@{
    ViewBag.Title = "Editing Curriculum Vitae";
    string pageTitle = ViewBag.PageFrom == 1 ? "Graduate Student Profile" : "Post-Graduation Student Tracking";
    string pageReturnTo = ViewBag.PageFrom == 1 ? "Back to Graduate Student Profile" : "Back to Post-Graduation Student Record";
    string returnClass = ViewBag.PageFrom == 1 ? "Student" : "PostGraduation";
    string returnPage = ViewBag.PageFrom == 1 ? "Edit" : "Index";
    string labelType = ViewBag.PageFrom == 1 ? "CV/Resume" : "curriculum vitae";
}

<h2>@pageTitle</h2>
<br />

@using (Html.BeginForm("Edit", "CurriculumVitae", new { id = ViewBag.FileID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Editing @labelType file for <strong>@Model.Student.FirstName @Model.Student.LastName</strong></h4>
        <br />

        <div class="row menuNav" id="menuNav_postgrad">
            @Html.ActionLink("Background", "Edit", "Student", new { id = ViewBag.StudentID }, new { @class = "btn btn-primary infoNav menuNav_background col-md-2 col-xs-12" })

            @Html.ActionLink("Coursework", "Index", "Coursework", new { id = ViewBag.StudentID }, new { @class = "btn btn-primary infoNav menuNav_coursework col-md-2 col-xs-12", @onclick = "javascript:return false;", @disabled = true })

            @Html.ActionLink("Performance & Activity", "Index", "Performance", new { id = ViewBag.StudentID }, new { @class = "btn btn-primary infoNav menuNav_performance col-md-2 col-xs-12" })

            @Html.ActionLink("Requirements", "Index", "Graduation", new { id = ViewBag.StudentID }, new { @class = "btn btn-primary infoNav menuNav_graduation col-md-2 col-xs-12" })

            @Html.ActionLink("Post-Graduation", "Index", "PostGraduation", new { id = ViewBag.StudentID }, new { @class = "btn btn-primary infoNav menuNav_postgrad col-md-2 col-xs-12" })
        </div>

        <hr />
        <br />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID, new { @Value = ViewBag.CurriculumVitaeID })

        <div class="form-group" style="display: none;">
            @Html.LabelFor(model => model.StudentID, "StudentID", htmlAttributes: new { @class = "control-label" })
            <br />
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentID, new { htmlAttributes = new { @class = "form-control", @Value = Model.StudentID } })
                @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">

            <div class="col-md-offset-1 col-md-4 col-xs-12">

                <div class="form-group">
                    @Html.Label("Current CV", new { @class = "control-label" })
                    <br />
                    <div class="col-md-10">
                        <a href="~/File?id=@ViewBag.FileID">@ViewBag.FileName</a>
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-xs-12">

                <div class="form-group">
                    @Html.Label("Upload New CV", new { @class = "control-label" })
                    <br />
                    <div class="col-md-10">
                        <input type="file" id="CV" name="upload" />
                    </div>
                </div>

            </div>

            <div class="col-md-2 col-xs-12">

                <div class="form-group">
                    @Html.LabelFor(model => model.ReceivedDate, htmlAttributes: new { @class = "control-label" })
                    <br />
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ReceivedDate, new { @Value = Model.ReceivedDate.ToString("MM/dd/yyyy"), @class = "form-control datepicker" })
                        @Html.ValidationMessageFor(model => model.ReceivedDate, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>


        </div>

        <div class="row">

            <div class="form-group">
                <div class="col-md-offset-0 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default createOrEditPost2" />
                </div>
            </div>

        </div>

    </div>
}

<div>
    @Html.ActionLink(pageReturnTo, returnPage, returnClass, new { id = Model.StudentID }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}