@*@model StudentTrackingSystem3.Models.G_Student*@
@using MvcCheckBoxList.Model
@model StudentTrackingSystem3.ViewModels.UltimateViewModel

@{
    ViewBag.Title = "Create New Student";
}

<h2>Graduate Student Background</h2>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <form>
            <h4>Creating new Graduate Student record</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.G_Student.StudentNumber, htmlAttributes: new { @class = "control-label col-md-5" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.G_Student.StudentNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.G_Student.StudentNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.G_Student.FirstName, htmlAttributes: new { @class = "control-label col-md-5" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.G_Student.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.G_Student.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.G_Student.MiddleName, htmlAttributes: new { @class = "control-label col-md-5" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.G_Student.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.G_Student.MiddleName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.G_Student.LastName, htmlAttributes: new { @class = "control-label col-md-5" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.G_Student.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.G_Student.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.G_Student.SchoolEmail, htmlAttributes: new { @class = "control-label col-md-5" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.G_Student.SchoolEmail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.G_Student.SchoolEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.G_Student.OtherEmail, htmlAttributes: new { @class = "control-label col-md-5" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.G_Student.OtherEmail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.G_Student.OtherEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.G_Student.Phone, htmlAttributes: new { @class = "control-label col-md-5" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.G_Student.Phone, new { htmlAttributes = new { @class = "form-control phoneNum" } })
                            @Html.ValidationMessageFor(model => model.G_Student.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.G_Student.GendersId, htmlAttributes: new { @class = "control-label col-md-5" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.DropDownListFor(m => m.G_Student.GendersId, (SelectList)ViewBag.GendersIdBag, "-- Select Gender --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.G_Student.GendersId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.G_Student.PersonRaces)
                        </div>
                        <div class="row">

                            @{
                                var htmlListInfo = new HtmlListInfo(HtmlTag.table, 7, new { @class = "styled_list" }, TextLayout.Default, TemplateIsUsed.Yes);
                                @Html.CheckBoxListFor(model => model.RacesViewModel.PostedRaces.RaceIDs,
                                                              model => model.RacesViewModel.AvailableRaces,
                                                               race => race.Id,
                                                               race => race.Name,
                                                              model => model.RacesViewModel.SelectedRaces,
                                                              htmlListInfo, x => new { @class = "list_chkbx" })
                            }
                        </div>

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.G_Student.RaceOther, htmlAttributes: new { @class = "control-label col-md-5 raceOther" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.G_Student.RaceOther, new { htmlAttributes = new { @class = "form-control raceOther" } })
                            @Html.ValidationMessageFor(model => model.G_Student.RaceOther, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.G_Student.DegreeProgramsId, htmlAttributes: new { @class = "control-label col-md-5" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.DropDownListFor(m => m.G_Student.DegreeProgramsId, (SelectList)ViewBag.DegreeProgramsIdBag, "-- Select Degree Program --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.G_Student.DegreeProgramsId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.G_Student.TracksId, htmlAttributes: new { @class = "control-label col-md-5" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.DropDownListFor(m => m.G_Student.TracksId, (SelectList)ViewBag.TracksIdBag, "-- Select Track --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.G_Student.TracksId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.G_Student.PlansId, htmlAttributes: new { @class = "control-label col-md-5" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.DropDownListFor(m => m.G_Student.PlansId, (SelectList)ViewBag.PlansIdBag, "-- Select Plan --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.G_Student.PlansId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.G_Student.DegreeStartSemsId, htmlAttributes: new { @class = "control-label col-md-10" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.DropDownListFor(m => m.G_Student.DegreeStartSemsId, (SelectList)ViewBag.DegreeStartSemsIdBag, "-- Select Semester --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.G_Student.DegreeStartSemsId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.G_Student.DegreeStartYear, htmlAttributes: new { @class = "control-label col-md-10" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.G_Student.DegreeStartYear, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.G_Student.DegreeStartYear, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="col-md-10 row">
                            <input type="submit" value="Create" class="btn btn-default createOrEditPost" />
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
                                }

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}