@*@model StudentTrackingSystem3.Models.Student*@
@using MvcCheckBoxList.Model
@model StudentTrackingSystem3.ViewModels.UltimateViewModel

@{
    ViewBag.Title = "Create New Student";
}

<h2>Graduate Student Profile</h2>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <form>
            <h4>Creating new Graduate Student record</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.StudentNumber, htmlAttributes: new { @class = "control-label col-md-5 requiredLabel" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.Student.StudentNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Student.StudentNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.FirstName, htmlAttributes: new { @class = "control-label col-md-5 requiredLabel" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.Student.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Student.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.MiddleName, htmlAttributes: new { @class = "control-label col-md-5" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.Student.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Student.MiddleName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.LastName, htmlAttributes: new { @class = "control-label col-md-5 requiredLabel" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.Student.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Student.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.SchoolEmail, htmlAttributes: new { @class = "control-label col-md-5 requiredLabel" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.Student.SchoolEmail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Student.SchoolEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.OtherEmail, htmlAttributes: new { @class = "control-label col-md-5" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.Student.OtherEmail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Student.OtherEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.Phone, htmlAttributes: new { @class = "control-label col-md-5 requiredLabel" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.Student.Phone, new { htmlAttributes = new { @class = "form-control phoneNum" } })
                            @Html.ValidationMessageFor(model => model.Student.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.GendersId, htmlAttributes: new { @class = "control-label col-md-5 requiredLabel" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.DropDownListFor(m => m.Student.GendersId, (SelectList)ViewBag.GendersIdBag, "-- Select Gender --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Student.GendersId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.Age, htmlAttributes: new { @class = "control-label col-md-5" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.Student.Age, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Student.Age, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.PersonRaces, htmlAttributes: new { @class = "control-label col-md-5 requiredLabel" })
                        </div>
                        <div class="row">

                            @{
                                var htmlListInfo = new HtmlListInfo(HtmlTag.table, 7, new { @class = "styled_list" }, TextLayout.Default, TemplateIsUsed.Yes);
                                @Html.CheckBoxListFor(model => model.RacesViewModel.PostedRaces.RaceIDs,
                                                              model => model.RacesViewModel.AvailableRaces,
                                                               race => race.Id,
                                                               race => race.Name,
                                                              model => model.RacesViewModel.SelectedRaces,
                                                              htmlListInfo, x => new { @class = "list_chkbx" })
                            }
                        </div>

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.RaceOther, htmlAttributes: new { @class = "control-label col-md-5 raceOther" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.Student.RaceOther, new { htmlAttributes = new { @class = "form-control raceOther" } })
                            @Html.ValidationMessageFor(model => model.Student.RaceOther, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.RaceAsianOther, htmlAttributes: new { @class = "control-label col-md-5 raceAsianOther" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.Student.RaceAsianOther, new { htmlAttributes = new { @class = "form-control raceAsianOther" } })
                            @Html.ValidationMessageFor(model => model.Student.RaceAsianOther, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.RacePacIsleOther, htmlAttributes: new { @class = "control-label col-md-5 racePacIsleOther" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.Student.RacePacIsleOther, new { htmlAttributes = new { @class = "form-control racePacIsleOther" } })
                            @Html.ValidationMessageFor(model => model.Student.RacePacIsleOther, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.CitizenshipStatsId, htmlAttributes: new { @class = "control-label col-md-5 requiredLabel" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.DropDownListFor(m => m.Student.CitizenshipStatsId, (SelectList)ViewBag.CitizenshipStatsIdBag, "-- Select Citizenship Status --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Student.CitizenshipStatsId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                @*/** RESERVED for CV/Resume **/ *@
                <div class="col-md-2 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.Label("CV/Resume", htmlAttributes: new { @class = "control-label col-md-5" })
                        </div>
                        <div class="col-md-12 row">
                            <h5><em>Please save this page first in order to upload a CV or Resume.</em></h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.EmploymentStatsId, htmlAttributes: new { @class = "control-label col-md-5 requiredLabel" })
                        </div>
                        <div class="col-md-12 row">
                            @Html.DropDownListFor(m => m.Student.EmploymentStatsId, (SelectList)ViewBag.EmploymentStatsIdBag, "-- Select Employment Status --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Student.EmploymentStatsId, "", new { @class = "text-danger" })
                        </div>
                        <br /><br />
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.Student.EmploymentStatsOther, new { htmlAttributes = new { @class = "form-control guestReadOnly" } })
                            @Html.ValidationMessageFor(model => model.Student.EmploymentStatsOther, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.DegreeProgramsId, htmlAttributes: new { @class = "control-label col-md-5 requiredLabel" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.DropDownListFor(m => m.Student.DegreeProgramsId, (SelectList)ViewBag.DegreeProgramsIdBag, "-- Select Program --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Student.DegreeProgramsId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.TracksId, htmlAttributes: new { @class = "control-label col-md-5" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.DropDownListFor(m => m.Student.TracksId, (SelectList)ViewBag.TracksIdBag, "-- Select Track --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Student.TracksId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.PlansId, htmlAttributes: new { @class = "control-label col-md-5" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.DropDownListFor(m => m.Student.PlansId, (SelectList)ViewBag.PlansIdBag, "-- Select Plan --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Student.PlansId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.InterimAdvisorsId, htmlAttributes: new { @class = "control-label col-md-5" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.DropDownListFor(m => m.Student.InterimAdvisorsId, (SelectList)ViewBag.MsctrFacultyIdBag2, "-- Select DQHS Faculty --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Student.InterimAdvisorsId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.PermanentAdvisorsId, htmlAttributes: new { @class = "control-label col-md-5" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.DropDownListFor(m => m.Student.PermanentAdvisorsId, (SelectList)ViewBag.MsctrFacultyIdBag, "-- Select DQHS Faculty --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Student.PermanentAdvisorsId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.PermanentAdvisorOther, htmlAttributes: new { @class = "control-label col-md-10" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.Student.PermanentAdvisorOther, new { htmlAttributes = new { @class = "form-control guestReadOnly permanentAdvisorOther" } })
                            @Html.ValidationMessageFor(model => model.Student.PermanentAdvisorOther, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.DegreeStartSemsId, htmlAttributes: new { @class = "control-label col-md-10 requiredLabel" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.DropDownListFor(m => m.Student.DegreeStartSemsId, (SelectList)ViewBag.DegreeStartSemsIdBag, "-- Select Semester --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Student.DegreeStartSemsId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            @Html.LabelFor(model => model.Student.DegreeStartYear, htmlAttributes: new { @class = "control-label col-md-10 requiredLabel" })
                        </div>
                        <div class="col-md-10 row">
                            @Html.EditorFor(model => model.Student.DegreeStartYear, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Student.DegreeStartYear, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <div class="col-md-10 row">
                            <input type="submit" value="Create" class="btn btn-default createOrEditPost" />
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
                                }

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@Html.Raw(TempData["msg"])