@model StudentTrackingSystem3.Models.G_Student

@{
    ViewBag.Title = "Graduate Student Details";
}

<h2>Graduate Student Background</h2>
<br />

<div>
    <h4>Details for <strong>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</strong></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GendersId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genders.Name)
        </dd>

        <dt>@Html.DisplayNameFor(model => model.PersonRaces)</dt>

        <dd>
            <ul>
                @foreach (var item in Model.PersonRaces.Where(s => s.IsSelectedPR.Equals(true)))
                {
                    <li>
                        @Html.DisplayFor(modelItem => item.Race.Name)
                    </li>

                }
            </ul>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaceOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaceOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegreeProgramsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DegreePrograms.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConcentrationsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concentrations.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TracksId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tracks.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegreeStart)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.DegreeStart)*@
            @Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.DegreeStart))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegreeEnd)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.DegreeEnd)*@
            @Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.DegreeEnd))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coursework)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Semester</th>
                    <th>Year</th>
                    <th>Course Number</th>
                    <th>Course Title</th>
                    <th>Grade</th>
                </tr>
                @foreach (var item in Model.Coursework)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Semesters.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Year)</td>
                        <td>@Html.DisplayFor(modelItem => item.Course.CourseName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Course.CourseName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Grade)</td>
                    </tr>
                }
            </table>
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>