@*@model StudentTrackingSystem2.Models.Graduate_Student*@
@model StudentTrackingSystem2.ViewModels.UltimateViewModel
@{
    ViewBag.Title = "Create New Student";
}

<h2>Graduate Student Background</h2>
<br />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Creating new Graduate Student record</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Graduate_Student.StudentNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Graduate_Student.StudentNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Graduate_Student.StudentNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Graduate_Student.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Graduate_Student.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Graduate_Student.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Graduate_Student.MiddleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Graduate_Student.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Graduate_Student.MiddleName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Graduate_Student.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Graduate_Student.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Graduate_Student.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Graduate_Student.SchoolEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Graduate_Student.SchoolEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Graduate_Student.SchoolEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Graduate_Student.OtherEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Graduate_Student.OtherEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Graduate_Student.OtherEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Graduate_Student.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Graduate_Student.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Graduate_Student.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Graduate_Student.GenderId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GenderId", null, "- Select Gender -", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Graduate_Student.GenderId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Graduate_Student.DegreeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DegreeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Graduate_Student.DegreeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><strong>Race/Ethnicity</strong></div>
            
            <div class="col-md-10">
           

                @Html.EditorFor(x=>x.AddRaceVM.Races)


                @*<table>
                    @foreach (var item in ViewBag.RaceEthnicity)
                    {

                        <tr>
                            <td>
                                <label>
                                    <input type="checkbox" name="SelectedRaces" value="@item.Value"/>
                                    @item.Text 
                                </label>
                            </td>
                        </tr>        

                    }
                </table>*@

                @*@Html.CheckBoxListFor(model => model.PostedRaces.RaceIDs,

                                      model => model.AvailableRaces,
                                      item=>item.Id,
                                      item=>item.Name,
                                      model=>model.IsSelected,
                                      MvcCheckBoxList.Model.Position.Vertical)*@
               
                @*@Html.ValidationMessageFor(model => model.RaceEthnicityId, "", new { @class = "text-danger" })*@

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Graduate_Student.RaceOther, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Graduate_Student.RaceOther, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Graduate_Student.RaceOther, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Graduate_Student.DegreeProgramId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DegreeProgramId", null, "- Select Degree Program -", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Graduate_Student.DegreeProgramId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Graduate_Student.ConcentrationId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ConcentrationId", null, "- Select Concentration -", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Graduate_Student.ConcentrationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Graduate_Student.TrackId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TrackId", null,"- Select Track -", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Graduate_Student.TrackId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Graduate_Student.DegreeStart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Graduate_Student.DegreeStart, new { htmlAttributes = new { @class = "form-control datepicker", placeholder="MM/DD/YYYY"} })
                @Html.ValidationMessageFor(model => model.Graduate_Student.DegreeStart, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Graduate_Student.DegreeEnd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Graduate_Student.DegreeEnd, new { htmlAttributes = new { @class = "form-control datepicker", placeholder="MM/DD/YYYY" } })
                @Html.ValidationMessageFor(model => model.Graduate_Student.DegreeEnd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
