@model StudentTrackingSystem2.Models.Graduate_Coursework

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Graduate_Coursework</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Graduate_CommonFields.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduate_CommonFields.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Graduate_Course.CourseNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduate_Course.CourseNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Graduate_Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduate_Student.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
