@model StudentTrackingSystem3.Models.G_Manuscript

@{
    ViewBag.Title = "Editing Manuscript";
}

<h2>Graduation Program Requirements</h2>
<br />

@using (Html.BeginForm("Edit", "Manuscript", new { id=ViewBag.FileID }, FormMethod.Post, new {enctype ="multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Editing manuscript document for <strong>@Model.Student.FirstName @Model.Student.LastName</strong></h4>
        <br />

        <div class="row menuNav" id="menuNav_postgrad">
            @Html.ActionLink("Background", "Edit", "Student", new { id = Model.StudentID }, new { @class = "btn btn-primary infoNav menuNav_background col-md-2 col-xs-12" })

            @Html.ActionLink("Coursework", "Index", "Coursework", new { id = Model.StudentID }, new { @class = "btn btn-primary infoNav menuNav_coursework col-md-2 col-xs-12" })

            @Html.ActionLink("Performance & Activity", "Index", "Performance", new { id = Model.StudentID }, new { @class = "btn btn-primary infoNav menuNav_performance col-md-2 col-xs-12" })

            @Html.ActionLink("Requirements", "Index", "Graduation", new { id = Model.StudentID }, new { @class = "btn btn-primary infoNav menuNav_graduation col-md-2 col-xs-12" })

            @Html.ActionLink("Post-Graduation", "Index", "PostGraduation", new { id = Model.StudentID }, new { @class = "btn btn-primary infoNav menuNav_postgrad col-md-2 col-xs-12" })
        </div>

        <hr />
        <br />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID, new {@Value = ViewBag.ManuscriptID })

        <div class="form-group" style="display: none;">
            @Html.LabelFor(model => model.StudentID, "StudentID", htmlAttributes: new { @class = "control-label" })
            <br />
            <div class="col-md-10">
                @Html.EditorFor(model=>model.StudentID, new { htmlAttributes =  new { @class = "form-control", @Value = Model.StudentID } })
                @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">

            <div class="col-md-offset-1 col-md-4 col-xs-12">

                <div class="form-group">
                    @Html.Label("Current Manuscript", new { @class = "control-label" })
                    <br />

                    <div class="col-md-10">
                        <a href="~/File?id=@ViewBag.FileID">@ViewBag.FileName</a>
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-xs-12">

                <div class="form-group">
                    @Html.Label("Upload New Manuscript", new {@class="control-label" })
                    <br />
                    <div class="col-md-10">
                        <input type="file" id="Manuscript" name="upload" />
                    </div>
                </div>

            </div>

            <div class="col-md-2 col-xs-12">

                <div class="form-group">
                    @Html.LabelFor(model => model.ReceivedDate, htmlAttributes: new { @class = "control-label" })
                    <br />
                    <div class="col-md-10">
                        @Html.TextBoxFor(model=>model.ReceivedDate, new {@Value = Model.ReceivedDate.ToString("MM/dd/yyyy"), @class="form-control datepicker" })
                        @Html.ValidationMessageFor(model=>model.ReceivedDate, "", new {@class="text-danger" })
                    </div>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="form-group">
                <div class="col-md-offset-0 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default createOrEditPost2" />
                </div>
            </div>

        </div>
      

        
    </div>
}

<div>
    @Html.ActionLink("Back to Graduation Program Requirements", "Index", "Graduation", new {id=Model.StudentID }, null)
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}