@model StudentTrackingSystem3.Models.G_Coursework

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>G_Coursework</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semesters.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semesters.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
