@model StudentTrackingSystem3.Models.G_Coursework

@{
    ViewBag.Title = "Details";
}

<h2>Graduate Student Coursework</h2>
<br />

<div>
    <h4>Coursework information for <strong>@Html.DisplayFor(model=>model.Student.FirstName) @Html.DisplayFor(model=>model.Student.LastName)</strong></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model=>model.Student.Coursework)
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>Semester</th>
                    <th>Year</th>
                    <th>Course Number</th>
                    <th>Course Title</th>
                    <th>Grade</th>
                </tr>
                @foreach(var item in Model.Student.Coursework)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Semesters.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Year)</td>
                        <td>@Html.DisplayFor(modelItem => item.Course.CourseNum)</td>
                        <td>@Html.DisplayFor(modelItem => item.Course.CourseName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Grade)</td>
                    </tr>
                }
            </table>


        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary homebtn" })
    @Html.ActionLink("Back to Student Information", "Info", new { id = Model.Id }, new { @class = "btn btn-primary infoNav" })
</p>*
