@model IEnumerable<StudentTrackingSystem3.Models.Coursework>

@{
    ViewBag.Title = "Coursework";
}

<h2>Graduate Student Coursework</h2>
<br />
<h4>Coursework for <strong>@ViewBag.CurrentStudent_FirstName @ViewBag.CurrentStudent_LastName</strong></h4>
@*<h5>Attending <em><em>from</em> <u>@Convert.ToString(string.Format("{0:MMMM yyyy}", @ViewBag.CurrentStudent_DegreeStart))</u> <em>to</em> <u>@Convert.ToString(string.Format("{0:MMMM yyyy}", @ViewBag.CurrentStudent_DegreeEnd))</u> </em></h5>*@
<br />

<div class="row menuNav" id="menuNav_coursework">
    @Html.ActionLink("Profile", "Edit", "Student", new { id = ViewBag.CurrentStudent_Id }, new { @class = "btn btn-primary infoNav menuNav_background col-md-2 col-xs-12" })

    @Html.ActionLink("Coursework", "Index", "Coursework", new { id = ViewBag.CurrentStudent_Id }, new { @class = "btn btn-primary infoNav menuNav_coursework col-md-2 col-xs-12" })

    @Html.ActionLink("Performance & Activity", "Index", "Performance", new { id = ViewBag.CurrentStudent_Id }, new { @class = "btn btn-primary infoNav menuNav_performance col-md-2 col-xs-12" })

    @Html.ActionLink("Requirements", "Index", "Graduation", new { id = ViewBag.CurrentStudent_Id }, new { @class = "btn btn-primary infoNav menuNav_graduation col-md-2 col-xs-12" })

    @Html.ActionLink("Post-Graduation", "Index", "PostGraduation", new { id = ViewBag.CurrentStudent_Id }, new { @class = "btn btn-primary infoNav menuNav_postgrad col-md-2 col-xs-12" })
</div>

<hr />
<br />

<h4 style="border: 1px #000 solid; background-color: lightgreen;">@ViewBag.GradStudentProgram</h4>

@*<p>
    @Html.ActionLink("Add Course", "Create", new { id = ViewBag.CurrentStudent_Id }, htmlAttributes: new {@class="guestHidden" })
</p>*@





@Html.Raw(TempData["msg"])

@*<br />
    <p>@Html.ActionLink("Back to List of Students", "Index", "Student")</p>*@