@model IEnumerable<StudentTrackingSystem2.Models.Graduate_PrevDegree>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Major)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondMajor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Minor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfAward)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Graduate_CommonFields.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GPA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Major)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondMajor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Minor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfAward)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Graduate_CommonFields.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
